<h1><%= @user.name %>さんのフォロー</h1>
<h2>フォロー(<%= @followings.count %>)</h2>
<ul>
  <% @followings.each do |user| %>
    <li><%= link_to user.name, user_path(user) %></li>
  <% end %>
</ul>

<h2>フォローしてる人の投稿</h2>
<%= render "user/shared/timeline", books: @books %>
