
<table>
  <tbody>
    <% books.each do |book|%>
      <tr>
        <td><%= link_to book.title, book_path(book)%></td>
        <td><%= link_to book.user.name, user_path(book.user) %></td>
        <td><%= I18n.l(book.created_at, format: :long) %></td>
      </tr>
    <% end %>
  </tbody>
